/*INICIO RESPONSIVE*/

@media(max-width:991px){
    .header{
        .menu{
            padding: 20px;
            label{
                display: initial;
            }
            .navbar{
                position: absolute;
                top:100%;
                left: 0;
                right: 0;
                background-color: #212A3E;
                display: none;
                ul li{
                    width: 100%;
                }
            }
        }
        #menu:checked ~ .navbar{
            display: initial;
        }
        .logo{
            display: none;
        }
        .submenu:hover #carrito{
            min-width: 100%;
        }
        
        .logo-menu{
            display: none;
        }
    }
    
    .iconos{
        display: flex;
        align-items: center;
        justify-content: space-between; /*separacion entre los iconos*/
        background-color: #f1f6f9; /*color de fondo*/
        padding: 5px;
    }
    .icono img{
        width: 15px;
    }
    .header{
        min-height: 0vh;
        .header-content{
            padding: 100px 30px;
            .header-txt{
                padding: 0;
            }
        }
    }
    .products {
        padding: 30px;
        .products-content {
            grid-template-columns: repeat(1,1fr);
        }
    }
    
    .services{
        padding: 30px;
        margin: 0;
    }
    
    .services .services-content{
        grid-template-columns: repeat(1,1fr);
    }
    
    /*NOSOTROS*/
    
    
    /*CONTACTO*/
    .container-form{
        width: 100%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 50px;
        margin-top: 90px;
        padding: 10px ;
        border: 1px solid white;
        border-radius: 10px;
    }
    .container-form .tamaño-logo{
        display: none;
    }

    /*FOOTER*/
    .pie-pagina .copy { /*copyright footer*/
        text-align: center;
        align-items: center;
        font-size: 10px;
    }
}

@media screen and (min-width:700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .card{
        margin: 2rem;
        transition: transform .5s;
    }
    
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    .card:nth-child(1){
        animation:fadeIn .5s .5s backwards;
    }
    
    .card:nth-child(2){
        animation:fadeIn .5s .1s backwards;
    }
    
    .card:nth-child(3){
        animation:fadeIn .5s 1.5s backwards;
    }
    
    .card:nth-child(4){
        animation:fadeIn .5s 2s backwards;
    }
    
    .card:hover{
        transform: scale(1.05);
    }
    
}