/*INICIO RESPONSIVE*/

@media(max-width:991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: #212A3E;
        display: none;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .submenu:hover #carrito{
        min-width: 100%;
    }
    .logo-menu{
        display: none;
    }
    .iconos{
        display: flex;
        align-items: center;
        justify-content: space-between; /*separacion entre los iconos*/
        background-color: $main-color; /*color de fondo*/
        padding: 5px;
    }
    .icono img{
        width: 15px;
    }
    .header{
        min-height: 0vh;
        .header-content{
            padding: 100px 30px;
            .header-txt{
                padding: 0;
            }
        }
    }
    .products {
        padding: 30px;
    }
    .products-content {
        @include responsive-columns;
    }
    .services{
        padding: 30px;
        margin: 0;
    }
    
    .services .services-content{
        @include responsive-columns;
    }
    
    /*NOSOTROS*/
    
    
    /*CONTACTO*/
    .container-form{
        width: 100%;
        max-width: 1100px;
        margin: auto;
        display: grid;
        @include responsive-columns;
        grid-gap: 50px;
        margin-top: 90px;
        padding: 10px ;
        border: 1px solid white;
        border-radius: 10px;
    }
    .container-form .tamaño-logo{
        display: none;
    }
    /*FOOTER*/
    .pie-pagina .grupo-1{
        width: 90%;
        @include responsive-columns;
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .pie-pagina .grupo-1 .box p{
        text-align: center;
        width: 90%;
    }
    .links{
        display: inline;
    }
    .pie-pagina .grupo-1 .box figure img  {
        display: none;
    }
    .pie-pagina figure img{
        display: none;
    }
}